<div class="os-apps">
    <% if (apps.length <=5) { %> 
        <div class="os-apps-row">
        <% for( var i = 0; i < apps.length; i++ ) {%>
                <div class="os-app"  id="<%=apps[i]._id%>" title="<%=apps[i].name%>" selected="false" onclick="selectApp(this)">
                    <img src="<%=apps[i].icon%>" alt="lol os <%=apps[i].name%> icon">
                    <p ><%=apps[i].name%></p>
                </div>    
        <% }%>        
    </div>
        <%} %>
</div>